/* Google fonts import */
 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*Asterisk wildcard selector to override default styles added by browser*/
* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;

}

    /* Generic styles */
    body {
        min-height:100vh;
        display:flex;
        flex-direction: column;
        /* Generic project styles */
        color:#3a3a3a;
        /* Added font-family to body styles */
        font-family:"Lato", sans-serif;
    }

        h1, h2, h3 {
            font-family: "Oswald", sans-serif;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: #252525
        }

        /*We decided that we want to hide meetup times so we create a section: */
        .hidden-heading {
            display:none;
        }

/*Header*/
header {
    background-color:#ffffff;
    padding: 0 1rem;
    position:fixed;
    z-index:99;
    width:100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration:none;
    color:inherit;
}



#menu {
        font-size: 110%;
        letter-spacing: 4px;
        list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: solid #3a3a3a;
}

/* Nav bar with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    /* nav must have full width of the screen, align directly against the left of screen, to have padding to line up with logo, and to have box-shdow */
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display:none;
    top: 100%
    
}

/* Nav Toggle */
#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle {
    display: none;
}
.nav-toggle-label {
    font-size:2rem;
}

/*Main*/
main {
    
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}
/* Hero section*/
#hero {
  height: 600px ; /*ensure our pictures shows up*/  
  width:100% ; /* Takes entire width of the screen*/
  background: url("../images/hero-image.webp") no-repeat center center/cover;
  /*using image for background of "main content". Also we want ensure the image won't repeat, and be centered vertically and centered horizontally - cover to entires hero section*/
    position: relative;
}

#cover-text {
    /*Final rgba value sets the opacity so it is semi-transparent*/
  background-color: rgba(241, 109, 107, .7);
  font-size: 130%;
  position: absolute;
  bottom: 30px; /*text moved to bottom*/
  width: 80%;
  min-height:200px;
  padding-top: 40px;
  padding-left: 10px; 
}

/*Now we want only to change color for h2 and h3 */
#cover-text > h2, #cover-text > h3 {
    color:#ffffff;
}
 /*Reasons settings */
 #reasons {
    margin: 20px auto;
    width: 90%;

 }
#reasons > h2 {
    font-size:280%;
    margin-bottom: 20px;
    text-align: center;
}
#benefits-physical > div, #benefits-mental > div {
        line-height: 20px; /* gap before div starts*/
        margin-bottom: 20px;
       }
     
    #benefits p {
        padding: 0 20px;
    }

    #benefits hr {
            border-top: 1px solid #3a3a3a;
            margin: 5px 0;
        }

    #circle-cover-bg {
        background: url("../images/reasons-image.webp") no-repeat top center/cover; /*Cover - means that images coveres entire div*/
        width: 90vw;
        height: 90vw;
        margin-bottom:20px;
        border-radius: 50%; /* Makes the square image into a circle. Important to have width = height*/
        max-width: 300px;
        max-height: 300px; /*ensures that pic will never be more than 300px height*/
    }

    #benefits-image {
        /*The image was left for the 768 screens - so we want it centered, we add flex properties*/
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Meetup Times Section */
    #times {
        background: url("../images/dublin-city.webp") no-repeat center/cover;
        /* Handles responsivity without the need for a media query */
        display: flex;
        flex-wrap: wrap;
    }
    /* Currently section is too dark and provides bad user experience, to change we make font-color white, bg RGB = we create black transparent bg */
    #times div {
        color: #fafafa;
        background-color: rgba(0, 0, 0, .6);
        padding: 15px; /*to ensure the text doesn't stick to the edges of the image*/
        text-align: center;
        /* This will not wrap on screens of less than 400px wide.
        Each div will expand to fill the available space on its row */
        flex-basis: 200px;
        flex-grow: 1;
        /*Creates a grid of meetup times over the background image*/
        border: 2px solid white;

    }
    #times  h3 {
    /*Overriding the h3 heading colour set in general styles */
    color: #fafafa;

    }
/* Gallery page - next rule for any images in a photos div*/
#photos img {
    width: 100%;
    line-height: 1em;
}
#photos {
    /* we want to remove boarder in between pics,
    By default, the images here are inline elements, which are treated like text. Text has an automatic line height to vertically space out the lines,
    which is causing this white space. So to fix that , we will set a line height on the photos div to 0*/
    line-height: 0;
}

    
/*Footer*/

    #social-networks {
    text-align: center; /* Align my icons in the center of the footer*/
    padding: 20px 0; /*add space for icon above and below */
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    }

    #social-networks i {

        font-size: 160%; /*  make icons larger */
        padding: 5%; /* more space around them */
        color:#3a3a3a; /*change color of the icons */
    }


@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display:block;
        position: relative; /* We want our nav back inside the header */
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem; /* Our heading won't stick to the age of the screen */
    }


    #menu {
        display:flex; /* We want nav in a line */
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size:280%; /* We want our Header larger */
        line-height: 75px; /* to give more space on the top */
        margin: 0 0.5rem;
    }
    /* Main content */
    main {
        /* Push main content down to accomodate large header */
        margin-top:79px;
    }

    /* Hero image*/
    #cover-text {
        width: 300px;
        right: 50px
    }
    /* Reasons section */

        #benefits-physical,
        #benefits-mental {
            /* First we need to make sure our 2 benefits sections have Flex set as a display value - if we want to reaarange it*/
            Display: flex;
            flex-direction: column;
            width: 100%;
        }
    
        #benefits-physical>div,
        #benefits-mental>div {
    /* Second we set width 75%*/
            width: 75%
        }
        #benefits-mental > div {
            /* Finally we align the text to the right with end, and align the divs themselves to the right with align-self set to flex-end */
            text-align: end;
            align-self: flex-end;

        }

}


/* large devices (Laptop and desktops, over 992 px and up) */
    @media screen and (min-width:992px) {
       
        #menu a:hover{
        border-bottom: 1px solid #3a3a3a; /* when we hoover over menu options there must appear a line under */
         
        }
    }
/*Large screens 1200px and wider*/
@media screen and (min-width: 1200px) {

#benefits {
    display: flex;
    flex-direction: row;
}
    
    #benefits > div {
        /* All divs use the same surplus*/
        flex: 1;
    }

    #benefits-image {
        order: 0;
    }

    #benefits-mental {
        order: 1;
    }
    /* Align text  to the right from the picture*/
    #benefits-physical > div {
        align-self: flex-end;
    }
        /* Align text  to the left from the picture*/
    #benefits-mental > div {
        align-self: flex-start;
    }



}
