/* Google fonts import */
 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*Asterisk wildcard selector to override default styles added by browser*/
* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;

}

    /* Generic styles */
    body {
        min-height:100vh;
        display:flex;
        flex-direction: column;
        /* Generic project styles */
        color:#3a3a3a;
        /* Added font-family to body styles */
        font-family:"Lato", sans-serif;
    }


/*Header*/
header {
    background-color:#ffffff;
    padding: 0 1rem;
    position:fixed;
    z-index:99;
    width:100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration:none;
    color:inherit;
}

h1 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525
}

#menu {
        font-size: 110%;
        letter-spacing: 4px;
        list-style-type: none;
}

#menu > li {
    margin-bottom: 1em
}

.active {
    border-bottom: solid #3a3a3a;
}

/* Nav bar with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    /* nav must have full width of the screen, align directly against the left of screen, to have padding to line up with logo, and to have box-shdow */
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display:none;
    top: 100%
    
}

/* Nav Toggle */
#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle {
    display: none;
}
.nav-toggle-label {
    font-size:2rem;
}

/*Main*/
main {
    background-color:lightblue;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}
/*Footer*/
footer {
    background-color:orange;
}
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display:block;
        position: relative; /* We want our nav back inside the header */
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem; /* Our heading won't stick to the age of the screen */
    }


    #menu {
        display:flex; /* We want nav in a line */
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size:280%; /* We want our Header larger */
        line-height: 75px; /* to give more space on the top */
        margin: 0 0.5rem;
    }
    /* Main content */
    main {
        /* Push main content down to accomodate large header */
        margin-top:79px
    }
}


    /* large devices (Laptop and desktops, over 992 px and up) */
    @media screen and (min-width:992px) {
       #menu a:hover{
        border-bottom: 1px solid #3a3a3a; /* when we hoover over menu options there must appear a line under */
         
        }
    }